{
    "Servers": {
        "1": {
            "Name": "Pulse DB",
            "Group": "Development",
            "Host": "pulse-postgres",
            "Port": 5432,
            "MaintenanceDB": "pulse_db",
            "Username": "postgres",
            "SSLMode": "prefer"
        }
    }
}